@import '../../assets/styles/vars';

.profile {
  margin-top: 10px;

  .error {
    color: $error-color;
    font-size: 14px;
    padding: 5px 15px;
  }

  .wrapper {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 24% 8% 34% 34%;
    grid-auto-rows: 0;
    margin-top: 45px;

    .info {
      grid-column: 1 / 2;

      .avatar {
        overflow: hidden;
        margin-bottom: 20px;

        img {
          border-radius: 8px;
          width: 100%;
          height: auto;
        }
      }

      .name {
        font-family: Mplus-extrabold;
        font-size: 16px;
        margin-bottom: 10px;
        color: $dark-primary;

        &.dark-theme {
          color: $light-primary;
        }
      }

      .company,
      .location,
      .website {
        margin-bottom: 5px;
        font-size: 14px;
        color: $dark-primary;

        span {
          color: $light-tertiary;
        }

        &.dark-theme {
          color: $light-primary;

          span {
            color: $dark-tertiary;
          }
        }
      }

      .website{
        a{
          color: $link-color-dark !important;
        }
        &.dark-theme{
          a{
            color: $link-color-light !important;
          }
        }
      }
    }

    .repos {
      grid-column: 3 / 5;
      display: flex;
      flex-wrap: wrap;

      .repo {
        box-sizing: border-box;
        width: 50%;
        padding: 0;
        padding-right: 15px;
        margin-bottom: 15px;
        min-height: 113px;

        .card {
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          padding: 15px 25px;
          background-color: $light-secondary;
          border-radius: 8px;

          &.dark-theme {
            background-color: $dark-secondary;
          }

          .name {
            font-family: Mplus-extrabold;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
            a{
              color: $link-color-dark !important;
            }
            &.dark-theme{
              a{
                color: $link-color-light !important;
              }
            }
          }

          .desc {
            margin-bottom: 15px;
            font-size: 12px;
          }

          .bottom {
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            svg {
              width: 18px;
              height: 18px;
              fill: $light-tertiary;
            }

            .forks,
            .stars,
            .lang {
              display: flex;
              align-items: center;
              font-size: 12px;
              padding-right: 20px;
              color: $dark-primary;
            }
            
            &.dark-theme {
              svg {
                fill: $dark-tertiary;
              }
              .forks,
              .stars,
              .lang {
                color: $light-primary;
              }
            }
          }
        }
      }
    }
  }

  &.placeholder {
    .wrapper {
      .avatar {
        overflow: visible;

        &,
        span {
          width: 240px;
          height: 240px;
          border-radius: 8px;
        }
      }

      .name {

        &,
        span {
          margin-bottom: 15px;
          height: 18px;
          border-radius: 4px;
        }
      }

      .company,
      .location,
      .website {
        width: 65%;

        &,
        .span {
          margin-bottom: 15px;
          border-radius: 4px;
          height: 11px;
        }
      }

      .location {
        width: 75%;
      }

      .repos {
        .repo .card {
          background-color: transparent;
          padding: 0;

          &,
          span {
            border-radius: 8px;
            height: 113px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    .wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  }
}