@import '../../assets/styles/vars';

.header{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 30px 0;
  .title{
    grid-column: 1 / 5;
    margin: 0;
    font-family: Mplus-black;
    color: $dark-primary;
    transition: all 250ms;
    &.dark-theme{
      color: $light-primary;
    }
  }
  .mode{
    grid-column: 5 / 7;
    text-align: right;
    cursor: pointer;
    transition: all 250ms;
    svg{
      width: 24px;
      height: 24px;
      fill: $dark-primary;
    }
    &.dark-theme{
      svg{
        fill: $light-primary;
      }
    }
  }
}