@import './assets/styles/vars';

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@font-face {
  src: url("./assets/fonts/Roboto.ttf");
  font-family: Roboto;
}

@font-face {
  src: url("./assets/fonts/MPLUSRounded1c-Regular.ttf");
  font-family: Mplus;
}

@font-face {
  src: url("./assets/fonts/MPLUSRounded1c-Medium.ttf");
  font-family: Mplus-medium;
}

@font-face {
  src: url("./assets/fonts/MPLUSRounded1c-ExtraBold.ttf");
  font-family: Mplus-extrabold;
}

@font-face {
  src: url("./assets/fonts/MPLUSRounded1c-Black.ttf");
  font-family: Mplus-black;
}

#App {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    display: inline-block;
    width: 75%;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    font-family: Mplus-medium, Arial, Helvetica, sans-serif;
  }
  background-color: $light-primary;
  color: $dark-primary;

  &.dark-theme {
    background-color: $dark-primary;
    color: $light-primary;
  }
  a {
    color: $link-color-dark;
    text-decoration: none;
  }
}