$light-primary: #ffffff;
$light-secondary: #fafafa;
$light-tertiary: #a8a8a8; 

$dark-primary: #212121;
$dark-secondary: #292929;
$dark-tertiary: #656565; 

$border-color: #707070;
$link-color-dark: #007FFF;
$link-color-light: #00A7FF;
$error-color: #FF006C;