@import './vars';

#Index {
  box-sizing: border-box;

  .top {
    max-width: 30%;

    .desc {
      margin: 35px 0;
      font-family: Mplus-extrabold;
      line-height: 32px;
      padding-right: 20%;
    }

    .fields {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .label {
        margin-bottom: 10px;
        font-size: small;
      }

      .group-input {
        display: flex;
        align-items: center;
        width: 100%;
        $height: 49px;

        .input {
          height: $height;
          outline: none;
          border: none;
          border-radius: 8px;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          background-color: $light-secondary;
          color: $dark-secondary;
          width: 100%;
          padding-left: 15px;
          font-family: Mplus-medium;
          font-size: 14px;
          transition: all 250ms;

          &.dark-theme {
            background-color: $dark-secondary;
            color: $light-secondary;
          }
        }

        .search {
          box-sizing: content-box;
          display: inline-block;
          width: $height;
          height: $height;
          border: none;
          outline: none;
          background-color: $light-secondary;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
          cursor: pointer;
          transition: all 450ms ease-out;

          svg {
            fill: $light-tertiary;
            width: 24px;
            height: 24px;
          }

          &>div>div:first-child {
            background-color: $light-tertiary;
          }
          &>div>div:last-child {
            border-color: $light-tertiary;
          }

          &:hover {
            background-color: $dark-primary;
            border-radius: 8px;

            svg {
              fill: $light-primary;
            }

            &>div>div:first-child {
              background-color: $light-primary;
            }
            &>div>div:last-child {
              border-color: $light-primary;
            }
          }


          &.dark-theme {
            background-color: $dark-secondary;

            &:hover {
              background-color: $light-primary;

              svg {
                fill: $dark-primary;
              }
              &>div>div:first-child {
                background-color: $dark-primary;
              }
              &>div>div:last-child {
                border-color: $dark-primary;
              }
            }
          }
        }
      }
    }
  }
}